<!DOCTYPE html>
<html>
<head>
<title>Your Shopping Cart</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/style.css" media="screen" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="jquery.store.js"></script>
</head>

<body>

<div id="site">
	<header id="masthead">
	</header>
	<div id="content">
		<h1>Your Shopping Cart</h1>
		<form id="shopping-cart" action="cart.html" method="post">
			<table class="shopping-cart">
			  <thead>
				<tr>
					<th scope="col">Item</th>
					<th scope="col">Qty</th>
					<th scope="col" colspan="2">Price</th>
				</tr>
			  </thead>
			  <tbody>
				{% for items,am in cart_list %}
					<tr>
						<th scope="col">{{items.product_name}}</th>
						<th scope="col">{{items.product_quantity}}*{{am}}</th>
						<th scope="col" colspan="2">{{items.product_price }} * {{am}}</th>
					</tr>
				{% endfor %}
			  </tbody>
			</table>
			<p id="sub-total">
				<strong>Sub Total</strong>: <span id="stotal"></span>
			</p>
			<ul id="shopping-cart-actions">

				<li>
					<a href="/emptyCart" class="btn">Empty Cart</a>
				</li>
				<li>
					<a href="/products" class="btn">Continue Shopping</a>
				</li>
				<li>
					<a href="/checkout" class="btn">Go To Checkout</a>
				</li>
			</ul>
		</form>
	</div>
	
	

</div>

<footer id="site-info">
		Copyright &copy; 
	</footer>

</body>
</html>	
